<h2 mat-dialog-title>Adding task</h2>
<mat-dialog-content>
    <ul>
        <li>
            <mat-form-field>
                <mat-label>Task title</mat-label>
                <input matInput value="Ask teacher">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <mat-label>Task description</mat-label>
                <input matInput value="Ask mister Fanilo what's the Restful architect. ">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <mat-label>Collaborators</mat-label>
                <input matInput value="IALY Francisco Raymond">
            </mat-form-field>
        </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial color="primary" mat-dialog-close>Ok</button>
</mat-dialog-actions>