

div.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    align-items: center;

}

div.item mat-form-field {
    width: 50%;
}

div.all_tasks {
    width: 95%;
    margin: auto;
}

div.all_tasks mat-card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

div.all_tasks mat-card mat-card-header {
    background-color: #3F51B5;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.all_tasks mat-card mat-card-footer {
    padding-left: 50px;
}

div.all_tasks mat-card mat-card-footer img {
    transform: scale(0.8);
    margin-bottom: -25px;
}


div.all_tasks mat-card mat-card-footer img{
    margin-left: -22px;
    border: 2px #999 solid;
}

mat-card-content#action {
    display: flex;
    justify-content: flex-end;
}

mat-card-content#action button:nth-child(1){
    margin-right: -30px;
    margin-bottom: -20px;
}

mat-card-content#action button:nth-child(2){
    margin-right: -20px;
    margin-bottom: -20px;
}

mat-card-content#action button img{
    width: 18px;
}